.video-react-player .video-react-player-bezel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 52px;
  height: 52px;
  z-index: 17;
  margin-left: -26px;
  margin-top: -26px;
  background: rgba(0,0,0,.5);
  border-radius: 26px;

  &.video-react-player-bezel-animation {
    -moz-animation: video-react-player-bezel-fadeout .5s linear 1 normal forwards;
    -webkit-animation: video-react-player-bezel-fadeout .5s linear 1 normal forwards;
    animation: video-react-player-bezel-fadeout .5s linear 1 normal forwards;
    pointer-events: none;
  }

  &.video-react-player-bezel-animation-alt {
    -moz-animation: video-react-player-bezel-fadeout-alt .5s linear 1 normal forwards;
    -webkit-animation: video-react-player-bezel-fadeout-alt .5s linear 1 normal forwards;
    animation: video-react-player-bezel-fadeout-alt .5s linear 1 normal forwards;
    pointer-events: none;
  }

  .video-react-player-bezel-icon {
    @extend .video-react-player-icon;
    width: 36px;
    height: 36px;
    margin: 8px;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .video-react-player-bezel-icon-play {
    @extend .video-react-player-icon-play-arrow;
  }

  .video-react-player-bezel-icon-pause {
    @extend .video-react-player-icon-pause;
  }

  .video-react-player-bezel-icon-pause {
    @extend .video-react-player-icon-pause;
  }

  .video-react-player-bezel-icon-pause {
    @extend .video-react-player-icon-pause;
  }

  .video-react-player-bezel-icon-replay-5 {
    @extend .video-react-player-icon-replay-5;
  }

  .video-react-player-bezel-icon-replay-10 {
    @extend .video-react-player-icon-replay-10;
  }

  .video-react-player-bezel-icon-replay-30 {
    @extend .video-react-player-icon-replay-30;
  }

  .video-react-player-bezel-icon-forward-5 {
    @extend .video-react-player-icon-forward-5;
  }

  .video-react-player-bezel-icon-forward-10 {
    @extend .video-react-player-icon-forward-10;
  }

  .video-react-player-bezel-icon-forward-30 {
    @extend .video-react-player-icon-forward-30;
  }

  .video-react-player-bezel-icon-volume-off {
    @extend .video-react-player-icon-volume-off;
  }

  .video-react-player-bezel-icon-volume-down {
    @extend .video-react-player-icon-volume-down;
  }

  .video-react-player-bezel-icon-volume-up {
    @extend .video-react-player-icon-volume-up;
  }

  .video-react-player-bezel-icon-fast-rewind {
    @extend .video-react-player-icon-fast-rewind;
  }

  .video-react-player-bezel-icon-fast-forward {
    @extend .video-react-player-icon-fast-forward;
  }

}

@keyframes video-react-player-bezel-fadeout {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: scale(2)
  }
}

@keyframes video-react-player-bezel-fadeout-alt {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: scale(2)
  }
}