.video-react-player {
  .video-react-player-big-play-button {
    font-size: 3em;
    line-height: $video-react-player-big-play-button-height;
    height: $video-react-player-big-play-button-height;
    width: $video-react-player-big-play-button-width; // Firefox bug: For some reason without width the icon wouldn't show up. Switched to using width and removed padding.
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 0.06666em solid $video-react-player-primary-foreground-color;
    // Need a slightly gray bg so it can be seen on black backgrounds
    @include background-color-with-alpha($video-react-player-primary-background-color, $video-react-player-primary-background-transparency);
    @include border-radius(0.3em);
    @include transition(all 0.4s);
    @extend .video-react-player-icon;
    @extend .video-react-player-icon-play-arrow;
    // Since the big play button doesn't inherit from vjs-control, we need to specify a bit more than
    // other buttons for the icon.
    &:before {
      @extend %video-react-player-icon-default;
    }
    // Allow people that hate their poster image to center the big play button.
    &.video-react-player-big-play-button-center {
      top: 50%;
      left: 50%;
      margin-top: 0;
      margin-left: 0;
      transform: translate(-50%, -50%);
    }
    &.big-play-button-hide {
      display: none;
    }
  }
  &:hover .video-react-player-big-play-button,
  .video-react-player-big-play-button:focus {
    outline: 0;
    border-color: $video-react-player-primary-foreground-color;
    @include background-color-with-alpha($video-react-player-secondary-background-color, $video-react-player-secondary-background-transparency);
    @include transition(all 0s);
  }
}
