.video-react-player {
  .video-react-player-playback-rate {
    .video-react-player-playback-rate-value {
      line-height: 3em;
      text-align: center;
    }

    .video-react-player-menu {
      width: 4em;
      left: 0em;
    }
  }
}
