.video-react-player .video-react-player-slider {
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0 0.45em 0 0.45em;

  @include background-color-with-alpha($video-react-player-secondary-background-color, $video-react-player-secondary-background-transparency);

  &:focus {
    @include box-shadow(0 0 1em $video-react-player-primary-foreground-color);
  }
}
