.video-react-player {
  .video-react-player-mute-control,
  .video-react-player-volume-menu-button {
    cursor: pointer;
    @include flex(none);
    @extend .video-react-player-icon;
    @extend .video-react-player-icon-volume-up;

    &.video-react-player-vol-0 {
      @extend .video-react-player-icon-volume-mute;
    }
    &.video-react-player-vol-1 {
      @extend .video-react-player-icon-volume-down;
    }
    &.video-react-player-vol-2 {
      @extend .video-react-player-icon-volume-down;
    }
    &.video-react-player-vol-muted {
      @extend .video-react-player-icon-volume-off;
    }
  }

  .video-react-player-volume-control {
    width: 5em;
    @include flex(none);
    @include display-flex(center);
  }

  .video-react-player-volume-bar {
    margin: 1.35em 0.45em;

    &.video-react-player-slider-horizontal {
      width: 5em;
      height: 0.3em;

      .video-react-player-volume-level {
        width: 100%;
      }
    }

    &.video-react-player-slider-vertical {
      width: 0.3em;
      height: 5em;
      margin: 1.35em auto;

      .video-react-player-volume-level {
        height: 100%;
      }

    }
  }

  .video-react-player-volume-level {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $video-react-player-primary-foreground-color;

    @extend .video-react-player-icon;
    @extend .video-react-player-icon-circle;

    // Volume handle
    &:before {
      position: absolute;
      font-size: 0.9em; // Doing this to match the handle on play progress.
    }
  }



  .video-react-player-slider-vertical .video-react-player-volume-level {
    width: 0.3em;

    // Volume handle
    &:before {
      top: -0.5em;
      left: -0.3em;
    }
  }

  .video-react-player-slider-horizontal .video-react-player-volume-level {
    height: 0.3em;

    // Volume handle
    &:before {
      top: -0.3em;
      right: -0.5em;
    }
  }



  // The volume menu button is like menu buttons (captions/subtitles) but works
  // a little differently. It needs to be possible to tab to the volume slider
  // without hitting space bar on the menu button. To do this we're not using
  // display:none to hide the slider menu by default, and instead setting the
  // width and height to zero.
  .video-react-player-menu-button-popup.video-react-player-volume-menu-button .video-react-player-menu {
    display: block;
    width: 0;
    height: 0;
    border-top-color: transparent;
  }

  .video-react-player-menu-button-popup.video-react-player-volume-menu-button-vertical .video-react-player-menu {
    left: 0.5em;
    height: 8em;
  }
  .video-react-player-menu-button-popup.video-react-player-volume-menu-button-horizontal .video-react-player-menu {
    left: -2em;
  }

  .video-react-player-menu-button-popup.video-react-player-volume-menu-button .video-react-player-menu-content {
    height: 0;
    width: 0;

    // Avoids unnecessary scrollbars in the menu content. Primarily noticed in Chrome on Linux.
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .video-react-player-volume-menu-button-vertical:hover .video-react-player-menu-content,
  .video-react-player-volume-menu-button-vertical:focus .video-react-player-menu-content,
  .video-react-player-volume-menu-button-vertical.video-react-player-slider-active .video-react-player-menu-content,
  .video-react-player-volume-menu-button-vertical .video-react-player-lock-showing .video-react-player-menu-content {
    height: 8em;
    width: 2.9em;
  }

  .video-react-player-volume-menu-button-horizontal:hover .video-react-player-menu-content,
  .video-react-player-volume-menu-button-horizontal:focus .video-react-player-menu-content,
  .video-react-player-volume-menu-button-horizontal .video-react-player-slider-active .video-react-player-menu-content,
  .video-react-player-volume-menu-button-horizontal .video-react-player-lock-showing .video-react-player-menu-content {
    height: 2.9em;
    width: 8em;
  }

  .video-react-player-volume-menu-button.video-react-player-menu-button-inline .video-react-player-menu-content {
    // An inline volume should never have a menu background color.
    //  This protects it from external changes to background colors.
    background-color: transparent !important;
  }

}


