// Text, icons, hover states
$video-react-player-primary-foreground-color: #fff !default;

// Control backgrounds (control bar, big play, menus)
$video-react-player-primary-background-color: #2B333F !default;
$video-react-player-primary-background-transparency: 0.7 !default;

// Hover states, slider backgrounds
$video-react-player-secondary-background-color: lighten($video-react-player-primary-background-color, 33%) !default;
$video-react-player-secondary-background-transparency: 0.5 !default;

$video-react-player-text-font-family: serif, Times, "Times New Roman" !default;

$video-react-player-big-play-button-width: 3em !default;
$video-react-player-big-play-button-height: 1.5em !default;
$video-react-player-big-play-button-transparency: 0.8 !default;